@charset "UTF-8";

/*! SoftCorp @ 2020

/*
-----------------------------------------------------------
*/

html,
body {
  margin: 0;
  height: 100%;
  background: url(/images/bg3.jpg?5e22c901e71a325e2113322379fd50bb);
  background-attachment: fixed;
}

.loginForm {
  background: #FFF;
  color: #000;
  border-radius: 0px 0px 4px 4px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.loginForm .title {
  font-size: 25px;
  color: #FFF;
  background: #DF7401;
  padding: 5px;
}

.loginForm .content {
  padding: 10px;
}

.container {
  width: 70%;
  background: #FFF;
  margin-left: 25%;
  padding: 10px;
  height: 80%;
  overflow: auto;
  border-radius: 0px 0px 8px 8px;
}

.container::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.container::-webkit-scrollbar-thumb {
  background: #DF7401;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.container::-webkit-scrollbar-thumb:hover {
  background: #DF7401;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */

.container::-webkit-scrollbar-thumb:active {
  background-color: #DF7401;
}

.navbar {
  height: 100%;
  width: 20%;
  float: left;
  position: fixed;
}

.title {
  color: #DF7401;
}

.productos {
  width: 97%;
  height: 300px;
  overflow: auto;
  border-radius: 0px 0px 8px 8px;
  list-style: none;
  background: #f0f0f0;
}

.productos::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.productos::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.productos::-webkit-scrollbar-thumb:hover {
  background: #000;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */

.productos::-webkit-scrollbar-thumb:active {
  background-color: #000;
}

.producto {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.producto img {
  width: 100px;
  height: 150px;
}

.producto .precio {
  background: #088A08;
  color: #FFF;
  padding: 5px;
  border-radius: 2px solid;
}

.producto a {
  color: black;
  text-decoration: none;
}

.producto a :hover {
  opacity: 0.7;
}

.comprar {
  display: none;
  background: green;
  color: white;
  height: 150px;
  width: 100px;
}

.producto a :hover > .comprar {
  display: block;
}

.producto a :hover > .producto-i {
  display: none;
}

.carrito {
  width: 70%;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 4px solid #f0f0f0;
  height: 120px;
  overflow-x: auto;
  float: left;
}

.carrito::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.carrito::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.carrito::-webkit-scrollbar-thumb:hover {
  background: #000;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */

.carrito::-webkit-scrollbar-thumb:active {
  background-color: #000;
}

.cuadritoImg {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 4px solid #000;
  display: block;
  margin: auto;
}

.carrito a {
  color: red;
}

.finalizarCompra {
  width: 20%;
  text-align: center;
  padding: 15px;
  background: #000;
  color: #FFF;
  cursor: pointer;
  border-radius: 2px;
  float: right;
}

.productosCarrito {
  list-style: none;
}

.productoCarrito {
  float: left;
  margin-right: 15px;
  margin-bottom: 7px;
}

.titulo-seccion {
  background: #DF7401;
  color: #FFF;
  padding-left: 10px;
}

.subtitulo-seccion {
  background: #DF7401;
  color: #FFF;
  border-bottom: 2px solid #000;
}

.tabla {
  height: 300px;
}

.barra::-webkit-scrollbar {
  width: 8px;
  /* Tamaño del scroll en vertical */
  height: 8px;
  /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.barra::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */

.barra::-webkit-scrollbar-thumb:hover {
  background: #000;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */

.barra::-webkit-scrollbar-thumb:active {
  background-color: #000;
}

.creadorForm {
  background: #f0f0f0 !important;
  color: #000;
  border-radius: 0px 0px 4px 4px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}

.creadorForm .title {
  font-size: 25px;
  color: #FFF;
  background: #DF7401;
  padding: 5px;
}

.creadorForm .content {
  padding: 10px;
}

#agregarCliente {
  display: none;
}

#modificarCliente {
  display: none;
}

.results {
  padding: 5px;
  background: #088A08;
  color: #FFF;
  display: none;
  float: right;
}

.tarjetaInformacion {
  padding: 20px;
}

.numeroTarjeta {
  position: absolute;
  top: 50%;
  left: 46.7%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #FFF;
}

.nombreTarjeta {
  position: absolute;
  top: 77%;
  left: 46.7%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #FFF;
}

.carritoCompra {
  width: auto;
  height: 200px;
  overflow: auto;
  border-radius: 0px 0px 8px 8px;
  list-style: none;
  background: #f0f0f0;
}

.devoluciones {
  width: 100%;
  height: 170px;
}

.devoluciones .izq {
  float: left;
  background: #1e87f0;
  width: 48%;
  color: #FFF;
  border-radius: 4px;
  cursor: pointer;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  line-height: 120px;
  font-size: 25px;
}

.devoluciones .der {
  float: right;
  width: 48%;
  background: #1e87f0;
  color: #FFF;
  border-radius: 4px;
  cursor: pointer;
  height: 150px;
  vertical-align: middle;
  text-align: center;
  line-height: 120px;
  font-size: 25px;
}

.contenidoD {
  width: 70%;
  background: #f0f0f0;
  padding: 20px;
}

